* {
  border: solid red 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background-color: gainsboro;
} 

h1 {
  font-size: 40px;
  font-weight: 200;
  text-decoration: underline;
}

.grid-container {
  padding: 0;
  margin: 0;
  border: solid gray 1px;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* max-width: 100px;
  height: 100px; */
}

.grid-box {
  width: 25px;
  height: 25px;
  background-color: white;
}

.reset-button {
  margin-top: 25px;
  font-family: monospace;
  font-size: 18px;
  border: solid black 1px;
  border-radius: 6px;
}

/* .hover {
  background-color: black;
} */
